body {
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
}

header {
	background-color: #D7FCD4;
	font-size: 26px;
	padding: 10px;
}

.content {
	background: #FFFFFF;
	margin: 0 auto;
	max-width: 900px;
	padding: 25px;
}

.login-form {
	text-align: right;
	margin-right: 50px;
}
